# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Entorno virtual
.venv/
venv/
ENV/
env/

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb_checkpoints

# Variables de entorno (API keys)
.env
.env.local

# IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.tmp
